.title-with-bg-image {
	position: relative;
	min-height: 5rem;
	padding: 5rem;
}
.title-with-bg-image:after {
	content: "";
	background-color: rgba(0, 0, 0, 0.7);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
}
.title-with-bg-image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	z-index: 1;
}
.title-with-bg-image h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 5;
	color: #fff;
	width: 100%;
	text-align: center;
	padding: 3rem 1rem;
}
@media screen and (min-width: 768px) {
	.title-with-bg-image h2 {
		padding-right: 20%;
		font-size: 2rem;
		font-weight: 300;
		line-height: 1.2;
	}
	.title-with-bg-image h2 strong {
		font-weight: 900;
		font-size: 3rem;
		display: block;
	}
}
@media screen and (min-width: 768px) {
	.image-text-style-1 {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.image-text-style-1 div:first-child {
		width: 50%;
		min-height: 35rem;
	}
	.image-text-style-1 div:nth-child(2) {
		width: 55%;
		margin-left: -8%;
		z-index: 10;
		background-color: #fff;
		-webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		border-radius: 3px;
		padding: 3rem;
	}
}
