@use 'utils-spacing';
@use 'list-with-icons';
@use 'image-text-style-1';

/*
// widens the container to 1400px
.container {
	width: 1400px !important;
}

// Removes the tabs for house categories and the image "new listing"
.snippet-tab-image,
.advanced-section-anchors {
	display: none;
}

// Utilities
.primary-color {
	color: #b11107 !important;
}
*/
